td.tipo {
	width: 100px;
	text-align: center;
}

td.nome {
}

td.email {
	width: 300px;
}

td.dataNascimento {
	width: 100px;
	text-align: center;
}

td.atividade {
	width: 200px;
	text-align: center;
}

td.acoes { 
	width: 60px;
	text-align: center;
}